h1 {
    text-align: center;
}
div{
    border: 0.1em solid black;
    padding: 2em;
    
    color: rgb(5, 5, 5);
    
}
#principal{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2cm;
}
header {
    background-image:url(fondo.webp) ;
}