header  {
    margin: 0.5cm;
    color: darkblue;
    border: 0.1cm  solid black;
    text-align: center;
}
form {
    color: rgb(239, 242, 245);
    background-color: rgb(16, 14, 116);
    border: 0.1cm  solid rgb(11, 11, 12);
    margin: 0.5cm;
}
body {
    border-radius: 58px 0px 68px 0px;
    -moz-border-radius: 58px 0px 68px 0px;
    -webkit-border-radius: 58px 0px 68px 0px;
    border: 4px solid #09074d;
}